body {
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

input {
    width: 300px;
    height: 100px;
}